

   .logo {
    font-size: 1.8rem;
    font-weight: bold;
    animation: fadeIn 2s ease-in-out;
  }
  
  .navbar-nav .nav-item .nav-link {
    position: relative;
    transition: color 0.3s ease-in-out;
  }
  
  .navbar-nav .nav-item .nav-link:hover {
    color: #00bcd4;
    transform: scale(1.1);
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .navbar {
    z-index: 1000; 
    position: relative;
  }
  
  